<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">
        {{ "btn.Edit" | translate }}
    </h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <div class="row p-3">
            <div class="col-md-12">
                <div class="form-contol">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="form-group">
                                <label for="usercode">{{ "common.id" | translate }}</label>
                                <input disabled type="text" formControlName="admin_code" id="admin_code"
                                    class="form-control" [value]="form.value.admin_code" />
                            </div>
                        </div>
                        <div class="col-md-12 col-12">
                            <div class="form-group">
                                <label for="Name">{{"common.Name" | translate}}</label>
                                <input type="text" id="Name" formControlName="Name" class="form-control"
                                    [value]="form.value.Name" />
                            </div>
                        </div>
                        <div class="col-md-12 col-12">
                            <div class="form-group">
                                <label for="Email">{{
                                    "common.Email" | translate
                                    }}</label>
                                <input type="Email" id="Email" class="form-control" formControlName="Email"
                                    [value]="form.value.Email" />
                            </div>
                        </div>
                        <div class="col-md-12 col-12">
                            <div class="form-group">
                                <label for="Phone">{{
                                    "common.Phone" | translate
                                    }}</label>
                                <input type="number" formControlName="phone" class="form-control"
                                    [value]="form.value.phone" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="d-flex justify-content-between w-100">
                <button type="submit" class="btn btn-gradient-success ">
                    <i class="fas fa-user-edit"></i>
                    {{ "btn.Edit" | translate }}
                </button>
                <button type="button" class="btn btn-gradient-secondary " (click)="close()">
                    <i class="fas fa-window-close"></i>
                    {{ "btn.Cancel" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>